{{yield}}
{{#if todo.done}}
    🐹
{{/if}}

<b>
 {{#todo-list/estimate todo.estimate todoClass=todoClass as |estimate|}}
   <h6> It's really {{estimate}}</h6>
 {{/todo-list/estimate}}
</b>

{{todoClass}}

{{todo.name}}

<br/>

<i>
{{time-ago todo.dueDate}}
</i>

